<div class="equipment-content">
  <nz-radio-group [(ngModel)]="currentType">
    <label nz-radio-button nzValue="avg" (click)="routerTo()">AVG</label>
    <label nz-radio-button nzValue="plate" (click)="routerTo()">抓取盘</label>
    <label nz-radio-button nzValue="robot" (click)="routerTo()">机器人</label>
    <label nz-radio-button nzValue="frame" (click)="routerTo()">栽培架</label>
  </nz-radio-group>

  <app-avg *ngIf="currentType == 'avg'"></app-avg>
  <app-plate *ngIf="currentType == 'plate'"></app-plate>
  <app-robot *ngIf="currentType == 'robot'"></app-robot>
  <app-frame *ngIf="currentType == 'frame'"></app-frame>
</div>