<div class="login">
  
  <div class="login-form">
      <h1>农场机器人</h1>
    <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="anticon anticon-user">
      <input type="text" nz-input placeholder="Enter your username" [(ngModel)]="username">
    </nz-input-group>
    <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="anticon anticon-lock">
      <input type="password" nz-input placeholder="Enter your password" [(ngModel)]="password">
    </nz-input-group>
    <button (click)="routeTo()" nz-button nzType="primary" nzBlock>登录</button>
  </div>
</div>