<div class="login">
  
  <div class="login-form" (keydown.enter)="login()">
      <h1>农场机器人</h1>
    <nz-input-group nzPrefixIcon="anticon anticon-user">
      <input type="text" nz-input placeholder="请输入用户名" [(ngModel)]="username">
    </nz-input-group>
    <nz-input-group nzPrefixIcon="anticon anticon-lock">
      <input type="password" nz-input placeholder="请输入密码" [(ngModel)]="password">
    </nz-input-group>
    <button (click)="login()" nz-button nzType="primary" nzBlock>登录</button>
  </div>
</div>