<div class="avgTable">
  <nz-table #avgTable nzBordered [nzData]="dataSet" [nzPageSize]="8">
    <thead>
      <tr>
        <th nzWidth="5%">序号</th>
        <th nzWidth="10%">蔬菜类别</th>
        <th nzWidth="10%">蔬菜名称</th>
        <th nzWidth="10%">生长周期（天）</th>
        <th nzWidth="8%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of avgTable.data;let i = index">
        <td>
          {{data.index}}
        </td>
        <td>
          {{data.type}}
        </td>
        <td>
          {{data.name}}
        </td>
        <td>
          {{data.cycle}}
        </td>
        <td>
          <div class="editable-row-operations">
            <a>编辑</a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>