<div class="authority">
  <div class="avgTable" *ngIf="roleList.length>0">
    <nz-tabset>
      <nz-tab nzTitle="用户">
        <button nz-button nzType="primary" (click)="createUser()">创建用户</button>
        <nz-table #userTable nzBordered [nzData]="userList" [nzPageSize]="8">
          <thead>
            <tr>
              <th nzWidth="5%">序号</th>
              <th nzWidth="5%">用户名</th>
              <th nzWidth="20%">密码</th>
              <th nzWidth="10%">角色</th>
              <th nzWidth="10%">创建时间</th>
              <th nzWidth="10%">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of userTable.data;let i = index">
              <td>
                {{i+1}}
              </td>
              <td>
                {{data.userName}}
              </td>
              <td>
                {{data.password}}
              </td>
              <td>
                {{data.roleName}}
              </td>
              <td>
                {{data.createdAt}}
              </td>
              <td>
                <div class="editable-row-operations" (click)="editUser(data)">
                  <a>编辑</a>
                </div>
                <div class="editable-row-operations" (click)="deleteUser(data.id)">
                  <a>删除</a>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="角色">
        <button nz-button nzType="primary" (click)="createRoles()">创建角色</button>
        <nz-table #roleTable nzBordered [nzData]="roleList" [nzPageSize]="8">
          <thead>
            <tr>
              <th nzWidth="5%">序号</th>
              <th nzWidth="5%">角色名</th>
              <th nzWidth="20%">权限点</th>
              <th nzWidth="10%">创建时间</th>
              <th nzWidth="10%">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of roleTable.data;let i = index">
              <td>
                {{i+1}}
              </td>
              <td>
                {{data.roleName}}
              </td>
              <td>
                {{data.points}}
              </td>
              <td>
                {{data.createdAt}}
              </td>
              <td>
                <div class="editable-row-operations" (click)="editRole(data)">
                  <a>编辑</a>
                </div>
                <div class="editable-row-operations" (click)="deleteRole(data.id)">
                  <a>删除</a>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>

  </div>
</div>


<nz-modal [(nzVisible)]="roleModalView" nzTitle="角色管理" (nzOnCancel)="roleModalView = false" (nzOnOk)="submitRole()">
  <div class="role-form" *ngIf="roleData.permission.length>0">
    <div class="row">
      <p class="title">请输入角色名称</p>
      <input nz-input placeholder="请输入角色名称" [(ngModel)]="roleData.roleName">
    </div>
    <p class="title">请选择权限</p>
    <div class="checkbox">
      <label *ngFor="let role of roleData.permission" nz-checkbox [(ngModel)]="role.val">{{role.name}}</label>
      <!-- <p>
        <label nz-checkbox [(ngModel)]="roleData.permission[1]">生产任务</label>
        <label nz-checkbox [(ngModel)]="roleData.permission[2]">设备检测</label>
        <label nz-checkbox [(ngModel)]="roleData.permission[3]">地表管理</label>
      </p>
      <p>
        <label nz-checkbox [(ngModel)]="roleData.permission[4]">蔬菜管理</label>
        <label nz-checkbox [(ngModel)]="roleData.permission[5]">权限管理</label>
        <label nz-checkbox [(ngModel)]="roleData.permission[6]">栽培架管理</label>
      </p> -->
    </div>
  </div>
</nz-modal>
<nz-modal [(nzVisible)]="userModalView" nzTitle="用户管理" (nzOnCancel)="userModalView=false" (nzOnOk)="submitUser()">
  <div class="user-form" *ngIf="userData&&roleList.length>0">
    <div class="row">
      <p class="title">请输入用户名</p>
      <input nz-input placeholder="请输入角色名称" [(ngModel)]="userData.userName">
    </div>
    <div class="row">
      <p class="title">请输入密码</p>
      <input type="password" nz-input placeholder="请输入密码" [(ngModel)]="userData.password">
    </div>
    <div class="row">
      <p class="title">请选择角色</p>
      <nz-select [(ngModel)]="userData.roleId" nzPlaceHolder="选择角色">
        <nz-option *ngFor="let role of roleList" [nzValue]="role.id" nzLabel="{{role.roleName}}"></nz-option>
      </nz-select>
    </div>
  </div>
</nz-modal>