// .role-form{
//     background: red;
    
// }

::ng-deep .role-form{
    // height: 800px;
    .ant-transfer-list{
        height: 300px;
    }
    .row{
        width: 300px;
        margin-bottom: 10px;
    }
    .title{
            border-left: 3px solid #40a9ff;
            padding: 6px
    }
    .checkbox{
        padding-left: 10px;
    }
}