<div class="avgTable">
  <button nz-button nzType="primary" (click)="addFrame()">添加栽培架</button>
  <nz-table #avgTable nzBordered [nzData]="dataSet" [nzPageSize]="8" [nzScroll]="{ x: '1900px' }">
    <thead>
      <tr>
        <th nzWidth="50px" nzLeft="0px">序号</th>
        <th nzWidth="100px">栽培架编号</th>
        <th nzWidth="100px">停止agv1</th>
        <th nzWidth="100px">停止agv2</th>
        <th nzWidth="100px">等待点</th>
        <th nzWidth="100px">纵列值</th>
        <th nzWidth="100px">向低纵间距</th>
        <th nzWidth="100px">向高纵间距</th>
        <th nzWidth="100px">横列值</th>
        <th nzWidth="100px">向低横间距</th>
        <th nzWidth="100px">向高横间距</th>
        <th nzWidth="100px" nzRight="0px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of avgTable.data;let i = index">
        <td nzLeft="0px">
          {{i}}
        </td>
        <td>
          {{data.id}}
        </td>
        <td>
          {{data.stopAgv1}}
        </td>
        <td>
          {{data.stopAgv2}}
        </td>
        <td>
          {{data.stopWait}}
        </td>
        <td>
          {{data.colNumber}}
        </td>
        <td>
          {{data.colLow}}
        </td>
        <td>
          {{data.colHigh}}
        </td>
        <td>
          {{data.rowNumber}}
        </td>
        <td>
          {{data.rowLow}}
        </td>
        <td>
          {{data.rowHigh}}
        </td>
        <td nzRight="0px">
          <div class="editable-row-operations">
            <a>编辑</a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>