.menu{
    position: relative;
    .logout{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 48px;
        cursor: pointer;
    }
}
.content{
    padding: 20px;
    position: absolute;
    top: 48px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.scroll-panel{
    height: 100%;
    overflow: auto;
    padding: 0 20px;
}