.card-container{
    padding: 20px;
}
.uptable,.downtable{
    height: 100%;
    width: 100%;
    padding: 20px;
    p{
        position: relative;
    }
    button{
        position: absolute;
        right: 0px;
            top: -9px;
    }
    .add{
        right: 100px;
    }
}

::ng-deep .createTask{
    .row{
        margin-bottom: 20px;
        .ant-select{
            width: 200px;
        }
    }
}
// .card-container ::ng-deep .ant-tabs-card .ant-tabs-content {
//     margin-top: -16px;
// }
