<div class="card-container">
  <!-- <p>
    <a href="javascript:;" (click)="analogMoveTask()">模拟agv获取位移任务</a>
  </p> -->
  <p>
    <nz-select style="width: 220px;" [(ngModel)]="moveAction.name" nzPlaceHolder="选择要模拟的agv">
      <nz-option *ngFor="let agv of agvList" [nzValue]="agv" [nzLabel]="agv"></nz-option>
    </nz-select>
    <input nz-input placeholder="当前位置" style="width:100px" [(ngModel)]="moveAction.port">
    <a href="javascript:;" (click)="analogMoveAction()">模拟agv执行位移动作</a>
  </p>
  <p>
    <button class="add" nz-button nzType="primary" (click)="create()">新增任务</button>
    <button class="delete" nz-button nzType="primary" (click)="startTask()">执行任务列表</button>
    <!-- <button class="delete" nz-button nzType="danger">删除任务</button> -->
  </p>
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab nzTitle="上架任务">
      <div class="uptable">
        <div nz-row>
          <div nz-col nzSpan="18">
            <div class="table-panel">
              <nz-table #upTable nzBordered [nzData]="taskSev.taskList" [nzPageSize]="8" [nzScroll]="{ x: '900px' }">
                <thead>
                  <tr>
                    <th nzWidth="50px" nzLeft="0px"></th>
                    <th nzWidth="100px">任务id</th>
                    <th nzWidth="100px">状态</th>
                    <th nzWidth="100px">架号</th>
                    <th nzWidth="100px">BAGV停靠点</th>
                    <th nzWidth="100px">RAGV停靠点</th>
                    <th nzWidth="100px">上架蔬菜</th>
                    <th nzWidth="200px">上架日期</th>
                    <th nzWidth="100px" nzRight="0px">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of upTable.data;let i = index">
                    <td nzShowCheckbox [(nzChecked)]="data.checked" nzLeft="0px"></td>
                    <td>
                      {{data.id}}
                    </td>
                    <td>
                      {{data.isFinished |taskPipe:'isFinished'}}
                    </td>    
                    <td>
                      zpj-{{data.r_frame.colNumber}}-{{data.r_frame.rowNumber}}
                    </td>
                    <td>
                      {{data.r_frame.stopAgv1}}
                    </td>
                    <td>
                      {{data.r_frame.stopAgv1}}
                    </td>
                    <td>
                      {{vege[data.vegetable]}}
                    </td>
                    <td>
                      {{data.createdAt | dateTimePipe:'unix'}}
                    </td>
                    <td nzRight="0px">
                      <div>
                        <a (click)="editTask(data)">编辑</a>
                        <a (click)="deleteTask(data)">删除</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div #consoleList class="consoleList" style="max-height:300px;overFlow:auto">
              <p *ngFor="let action of taskSev.actionList">{{action}}</p>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</div>

<nz-modal [(nzVisible)]="createTaskView" nzTitle="任务" (nzOnCancel)="createTaskView = false" (nzOnOk)="submit()">
  <div class="createTask" *ngIf="taskForm">
    <div class="row">
      <nz-radio-group [(ngModel)]="taskForm.direction">
        <label nz-radio [nzValue]="1">上架任务</label>
        <label nz-radio [nzValue]="2">下架任务</label>
      </nz-radio-group>
      
    </div>
    <div class="row">
      <nz-radio-group [(ngModel)]="taskForm.plateType">
        <label nz-radio [nzValue]="1">单盘任务</label>
        <label nz-radio [nzValue]="2">普通任务</label>
      </nz-radio-group>
    </div>
    <div class="row" *ngIf="frameList.length>0">
      <p class="title">选择栽培架</p>
      <nz-select style="width: 120px;" [(ngModel)]="taskForm.frameNumber" nzAllowClear nzPlaceHolder="选择栽培架">
        <nz-option *ngFor="let frame of frameList;" [nzValue]="frame.id"
          nzLabel="zpj-{{frame.colNumber}}-{{frame.rowNumber}}"></nz-option>
      </nz-select>
    </div>
    <div class="row">
      <p class="title">选择蔬菜</p>
      <nz-select style="width: 120px;" [(ngModel)]="taskForm.vegetable" nzAllowClear nzPlaceHolder="选择蔬菜">
        <nz-option *ngFor="let vegetable of vegetableList;let i = index;" [nzValue]="vegetable.value"
          [nzLabel]="vegetable.text">
        </nz-option>
      </nz-select>
    </div>

  </div>
</nz-modal>